
<div style="background-color:red  ; text-align: center;">
<h1>
Order Status: 
</h1>
{{ordertrackstatus}}

<h1>
  ObservablesfromArray
</h1>
{{myobservables}}
<app-observablefromarray></app-observablefromarray>
<app-randomobservables></app-randomobservables>
<br>
<h1>Subject Component </h1>
<app-subject-component></app-subject-component>
<br/>
<h1>behaviour subject</h1>
<app-behaviouralsubject></app-behaviouralsubject>
<h1>Async Component</h1>
<app-async-subject></app-async-subject>

<app-ngfordemo></app-ngfordemo>
<app-ngfordemotoprintnumbers2></app-ngfordemotoprintnumbers2>

</div>